.root{

}

.table-row-cell{
	-fx-cell-size: 15px;
	-fx-font-size: 10;
	-fx-alignment: center-left;
	-fx-padding: 0.0em;
}

.list-cell{

	-fx-cell-size: 15px;
	-fx-font-size: 10;
	-fx-alignment: center-left;
	-fx-padding: 0.0em;

}

.list{
	-fx-fill-height: true;

}